.calculator-container {
    background-color: #2a7685;
    border-radius: 2rem;
    color: rgb(248, 248, 248);
    font-family: futura;
    padding: 1.5rem;
    margin-top: 5rem;
    max-width: 1000px;
    box-shadow: 5px 5px 5px rgba(129, 129, 129, 0.387);

}

.calculator-container-header {
    font-family: Oswald, futura;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}