.FooterBottom {
    background-color: #92bcc4;
    color: rgb(243, 243, 243);
    font-family: futura;
    font-size: 0.8rem;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    margin-left: 0;
    box-shadow: 5px 5px 5px rgba(146, 146, 146, 0.387);

}

.FooterBottom a {
    color: white;
    display: inline;
}

.FooterBottom p {
    margin: 0px;
}