.inputFieldDiv {
    display: flex;
    display: inline-block;
}

.InputForm-input-field {
    border-radius: 0.9rem;
    margin: 0.7rem;
    padding: 0.2rem;
}

.inputFieldLabel {
    font-size: 1.2rem;
    font-weight: 600;
}