.navbar {
    background-color: rgb(106, 175, 189);
    color: rgb(243, 243, 243);
    font-family: futura;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    top: 0;
    position: fixed;
    text-align: left;
    padding-left: 1rem;
    margin-left: 0;
    box-shadow: 5px 5px 5px rgba(146, 146, 146, 0.387);

}

.navbar a {
    color: white;
    display: inline;
}

.navbar p {
    margin: 0px;
}