.navbar {
    background-color: rgb(15, 33, 190);
    color: white;
    font-family: futura;
    width: 100%;
    padding-bottom: 0.7rem;
    top: 0;
    position: fixed;
    text-align: left;
    padding-left: 1rem;
    margin-left: 0;
}

.navbar a {
    color: white;
    display: inline;
}

.navbar p {
    margin: 0px;
}