.SubmitButton {
    background-color: rgba(255, 255, 255, 0.979);
    color: rgb(48, 114, 175);
    padding: 0.5rem;
    border-radius: 5rem;
    margin: 0.5rem;
    margin-top: 1rem;
    transition: transform 250ms;
    font-family: futura;
    font-weight: 600;
    font-size: 1.5rem;

}

.SubmitButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 72, 135);
    transform: translateY(-5px);
    transition: 0.5s;
}