.App {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;

}

.App-calculator {
  background-color: #ffffff;
  display: flex;
  margin-top: 2rem;
  max-width: 900px;
  justify-content: center;

}