.App {
  display: flex;
  text-align: center;
  justify-content: center;

}

.App-calculator {
  background-color: #ffffff;
  font-size: calc(9px + 2rem);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}